
<div class="columns">
  <div class="column">
    <h1 class="is-size-3">Welcome to DnD Spells</h1>
  </div>
</div>

<div class="columns pl-3 my-2">
  <p>
    Browse over 500 unique spells. View the entire <a href="/spells">spell list</a> or select which class/school of magic's spells you would like to see below!
  </p>
</div>

<h2 class="is-size-4 mt-6">Browse Spells by Class</h2>
<div class="columns is-2 is-variable mt-2">
  <% @character_classes.each do |c| %>
    <div class="column">
      <div class="button is-fullwidth is-link is-light is-outlined has-text-centered is-size-5 py-6" onclick="window.location.href = '<%= character_class_path(c) %>'">
        <%= link_to c.name, character_class_path(c)%>
      </div>
    </div>
  <% end %>
</div>

<h2 class="is-size-4">Browse Spells by School</h2>
<div class="columns is-2 is-variable mt-2">
  <% @schools.each do |school| %>
    <div class="column">
      <div class="button is-fullwidth is-link is-light is-outlined has-text-centered is-size-5 py-6" onclick="window.location.href = '<%= school_path(school) %>'">
        <%= link_to school.name, school_path(school)%>
      </div>
    </div>
  <% end %>
</div>