<h1 class="is-size-3">Spells</h1>
<p>Showing all <%= @character_class %> <%= @school %>
  <% if @name_search != "%%" %> 
    spells containing "<%= @name_search.split("%")[1] %>".
  <% else %> 
    spells.
  <% end %>
</p>

<%= render partial: 'common/spells_table', locals: { spells: @spells } %>
