.navbar-start .navbar-item:hover{
  background-color:rgb(124, 124, 124) !important;
}

.navbar-start .navbar-item{
  background-color:#4A4A4A !important;
}

.navbar-menu{
  padding: 0 !important;
}

.button:hover{
  background-color:hsl(217, 74%, 70%) !important;
}

.button a{
  color:black !important;
}

.pagination {
  border-radius: 5px;
  background-color: rgb(246, 246, 246);
  border: 1px solid black;
}

.pagination .page,
.pagination .next,
.pagination .last,
.pagination .first,
.pagination .prev {
  flex-grow: 1;
  padding: 6px;
  font-weight: 600;
}

.pagination .current{
  background-color: rgb(116, 116, 116);
  color: white;
}