<header>
  <nav class="navbar has-background-grey-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://dnd.wizards.com/">
        <img src="/dnd-logo.png" width="132" style="max-height: none">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true" style="color:white;"></span>
        <span aria-hidden="true" style="color:white;"></span>
        <span aria-hidden="true" style="color:white;"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item has-text-white" href="/">
          Home
        </a>

        <a class="navbar-item has-text-white" href="/about">
          About
        </a>

        <a class="navbar-item has-text-white" href="/spells">
          Spells
        </a>

        <a class="navbar-item has-text-white">
          Classes
        </a>
      </div>

      <%# <div class="navbar-end">
        <div class="navbar-item">
          <form action="search/">
            <div class="control">
              <input class="input" type="text" id="name" name="name" placeholder="Input spell name...">
            </div>
            <div class="control">
              <button type="submit" class="button is-danger">Search</button>
            </div>
          </form>
        </div>
      </div> %>
    </div>
  </nav>
</header>

<script>
  console.log("test1")
  document.addEventListener('DOMContentLoaded', () => {
    console.log('test2')

    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });

  });
</script>